.bannerContainer {
  height: 60px;
  width: 100%;
  background-color: #15a3bd;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 2;
}

.bannerLeft {
  flex: 3;
}

.bannerMiddle {
  flex: 3;
}

.bannerRight {
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.notLogin {
  display: flex;
}

.btn-loginout {
  width: 60px;
  height: 25px;
  font-size: 14px;
  background: white;
  color:black;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.btn-loginout:hover{
  background-color:red;
  color: white;
}

.bannerImg {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}

.logo {
  font-size: 26px;
  margin-left: 22px;
  font-weight: bold;
  color: white;
  cursor: pointer;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.searchIcon {
  width: 100%;
  height: 30px;
  background-color: white;
  border-radius: 40px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.searchInput {
  border: none;
  width: 60%;
}

.searchInput:focus {
  outline: none;
}

.searchbar {
  width: 100%;
  height: 30px;
  background-color: white;
  border-radius: 40px;
  display: flex;
  align-items: center;
}

.searchButton {
  background-color: transparent;
  border: none;
}


@media screen and (max-width: 600px) {
  .bannerContainer {
    height: 100px;
    display: block;

  }
}