.followsContainer {
  display: flex;
  width: 100%;
}

.followsWrapper {
  flex: 1;
}

@media screen and (max-width:480px) {
  .followsContainer {
    display: block;
  }

  .followsWrapper {
    margin-left: 5px;
    margin-right: 5px;
  }
}

