.post {
  width: 100%;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
  box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
  margin: 30px 0;
  background-color: white
}

.postWrapper {
  padding: 20px;
}

.postTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.postTopLeft {
  display: flex;
  align-items: center;
  
}

.postTopRight {
  cursor: pointer;
}

.postTopRight:hover {
  color: red;
}

.postBottomLeft {
  display: flex;
  align-items: center;
}

.postProfileImg {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
}

.postUsername {
  font-size: 15px;
  font-weight: 500;
  margin: 0 10px;
}

.postFollowing {
  font-size: 12px;
  margin-right: 10px;
}

.postDate {
  font-size: 12px;
}

.postCenter {
  margin: 20px 0;
}

.postImg {
  margin-top: 20px;
  width: 100%;
  max-height: 500px;
  object-fit: contain;
}

.postBottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.likeIconLiked {
  margin-right: 3px;
  cursor: pointer;
  color: red;
  transform: scale(0.9);
}

.likeIconNotLiked {
  margin-right: 3px;
  cursor: pointer;
  transform: scale(0.9);
}

.likeIconNotLiked:hover{
  color: red
}

.postLikeCounter {
  font-size: 13px;
}

.postCommentText {
  border-bottom: 1px dashed gray;
  font-size: 13px;
}

.postComments {
  margin-top: 20px;
  display: column;
  align-items: center;
}

.postComment {
  list-style: none;
  margin-bottom: 5px;
}

.postAddCommentButton {
  border: none;
  margin-bottom: 5px;
  cursor: pointer;
  border-radius: 5px;
  background-color: green;
  color: white;
  padding: auto;
}


.postCommentInput {
  width: 100%;
  border: none;
}

.postCommentInput:focus {
  outline: none;
}

.addPostComment {
  margin-top: 10px;
  margin-bottom: 12px;
}

.addPostComment svg {
  margin-top: 10px;
}

.sharePostButton {
  color: green;
  cursor: pointer;

}

.deleteIcon {
  transform: scale(0.9);
}

.deleteIcon:hover {
  transform: scale(1);
}



* {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}