.profile-container {
  
  display:flex;

}

.prifile-details{
  height:fit-content;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
  box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
  padding:10px

}

.profile-details-wrapper {
  padding:10px;
}

.profile-header {
  display: flex;
  align-items: center;
}

.profileUserImg{
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  left: 0;
  right: 0;
  top: 150px;
  border: 3px solid white;
}


.profile-info { 
  width: 80%;
  margin-left: 4em
}
.profileInfoName{
  font-size: 24px;
  margin-left: 0.5em;
}

.profileEditForm {
  display: flex;
  flex-direction: column;
}

.profileFollowButton {
  border-radius: 24px;
  border: none;
  padding: 6px;
  background-color: green;
  cursor: pointer;
  color: white;
  margin-left: 4em;
  
}

.profileEditButton {
  border-radius: 12px;
  border: none;
  padding: 6px;
  background-color: green;
  cursor: pointer;
  color: white;
  margin-top: 10px;
  margin-bottom: 5px;
  width: 50px;
}

.profileEditButton2 {
  width: 50px;
  font-size: 12px;
  border-radius: 12px;
  border: none;
  padding: 6px;
  background-color: green;
  cursor: pointer;
  color: white;
  margin-top: 8px;
}

.profileEditButton3 {
  width: 50px;
  font-size: 12px;
  border-radius: 12px;
  border: none;
  padding: 6px;
  background-color: red;
  cursor: pointer;
  color: white;
  margin-top: 8px;
}

.formWrapper {
  width: 8%
}

.detailsInfoItem {
  margin-bottom:12px
}

.profileEditLabel {
  margin-top: 12px;
}